/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.11.2017, 13:51:39
    Author     : Bandapixels
*/

@media only screen and (min-width: 1280px) {
    .mobile-menu-btn {
        display: none;
    }
}
@media only screen and (max-width: 1279px) {
    .main-menu .logo a {
        width: 100px;
        height: 39px;
        background-size: cover;
    }
    .main-menu {
        padding: 10px 0px 0px 0px;
        height: 60px;
    }
    .types .text {
        max-width: 450px;
        width: 100%;
        box-sizing: border-box;
        margin-left: 30px;
        height: 100%;
    }
    .types .content .types-content {
        padding-left: 15px;
    }
    /*    .types .img.left.hidden {
            display: none;
        }*/
    .footer-contact {
        border-top: 1px solid #564d44;
    }
    footer .footer-menu {
        padding: 30px 0;
        display: table;
        margin: 0 auto;
        text-align: center;
        border-bottom: none;
    }
    footer {
        background-size: cover;
        height: auto;
    }
    footer .footer-menu a {
        float: none;
        display: block;
        padding: 10px 30px;
    }
    section.fixed-block {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
        background: transparent url(../img/header-img.jpg) center top no-repeat;
    }
    .slider {
        height: auto;
    }
    .slider>.wrap {
        padding-bottom: 20px;
        position: relative;
    }
    .slick-slider {   
        padding: 0 15px;
        box-sizing: border-box;
    }
    .slider .btn-1 {
        left: 15px;
        bottom: 15px;
        margin: 0;
    }
    .slick-slide img {
        width: 100%;
    }
    .back {
        padding: 60px 0 0;
        background-size: cover;
    }
    .back header {
        display: none;
    }
    .back section .wrap .left.menu {
        display: none;
    }
    .main-menu {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
    }
    .main-menu .logo a {
        margin-right: 0;
    }
    .wrap {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .wrapper-for-mobile-menu {
        padding: 15px;
        box-sizing: border-box;
    }
    .drawer-nav {
        z-index: 5;
    }
    .drawer-overlay {
        z-index: 2;
    }
}




@media only screen and (min-width: 960px) {
    .types .content .types-content .text-block-1 {
        display: none;
    }
}
@media only screen and (max-width: 959px) {
    .last-news ul {
        display: none;
    }
    .last-news .wrap {
        display: block;
    }
    .last-news .news-title {
        float: none!important;
        width: 100%;
    }
    .last-news .news-body {
        float: none;
        width: 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-around;
    }
    .last-news .news-body>div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
        padding: 15px;
    }
}



@media only screen and (max-width: 767px) {
    .img-col-hidden {
        display: none;
    }
    .bg-text-block-1 {
        background-color: #0e1d2a;
    }
    .types .content .text {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .types .title {
        font-size: 36px;
        margin-top: 30px;
        position: relative;
    }
    .types .content .types-content {
        padding-top: 30px;
    }
}
@media only screen and (min-width: 590px) {
    .types .content .types-content .text-block-1 {
        display: none;
    }
}
@media only screen and (max-width: 589px) {
    .last-news .news-body>div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
        padding: 15px;
    }
    .advantages-item {
        width: 100%;
    }
}
@media only screen and (max-width: 575px) {
    footer .footer-contact .logo {
        margin: 25px 0;
    }
    footer .phone-mail.left, footer .addres.right {
            float: none;
    display: table;
    margin: 0 auto;
    float: none;
    }
}